.ErrorModal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.7s forwards;
  padding: 20px;

  .container {
    background-color: var(--secondary);
    color:darkred;
    font-size: 1.6rem;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    height: 200px;
    display: grid;
    place-content: center;
    box-shadow: 0 0 3px 0 black;
    animation: zoom 0.7s forwards;
  }
}
