.InfoBar {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .date {
    text-transform: capitalize;
    background-color: var(--bg-secondary);
    padding: 2px 10px;
    border-radius: 5px;
  }
}
