.Calendar {
  height: 100%;

  .grid {
    height: calc(100% - 35px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 5px;
    padding: 5px;
    margin-top: 3px;
    animation: zoom 0.3s forwards;
  }

  .settingIco {
    position: absolute;
    top: 2px;
    left: 6px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;

    animation: rotate 1s ease-in-out;
    animation-iteration-count: 3;

    border:solid white 1px
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
