.NavBar {
  .nav-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    height: 100%;
    transition: color 0.2s;

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 3px;

      background: linear-gradient(90deg, transparent 0%, var(--primary) 50%, transparent 100%);

      transform: scaleX(0);
      transform-origin: center;
    }

    &.active {
      color: var(--primary);

      &::after {
        animation: expandBar 0.2s ease-in-out forwards;
      }
    }

    &:active .icon{
      transform: scale(0.8);
      opacity: 0.5;
      transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    }
  }
}

@keyframes expandBar {
  to {
    transform: scaleX(1);
  }
}
