@import 'tailwindcss';

:root {
  --primary: #047857; /* Tailwind's emerald-700 */
}



body {
  background-color: white;
  overflow: hidden;
  min-width: 320px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor: pointer;
  transition: all 0.1s;

  &:active {
    opacity: 0.5;
  }
}
