@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
	--primary: #673ab7;
	--secondary: rgba(170, 206, 233, 0.7);
}

* {
	box-sizing: border-box;
}


html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: Lobster;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #c1c8ca;
}
