@import 'tailwindcss';

:root {
  --primary: #047857; /* Tailwind's emerald-700 */
}

@layer base {
  body {
    @apply bg-slate-50;
  }
}

body {
  margin: 0;
  overflow: hidden;
  min-width: 320px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
