.Modale {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(2px);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
    

	h1 {
		margin: 0;
		margin-top: 10px;
		background-color: rgba(211, 224, 234, 0.7);
		padding: 5px 20px;
		border-radius: 5px;
		color: #2b9cff;
		font-size: 2rem;
		font-family: 'Spirax', cursive;
		box-shadow: 0 0 10px 0 black;
	}

	form {
		margin-top: 20%;
		background-color: rgba(211, 224, 234, 0.7);
		padding: 20px 10px 10px 10px;
		border-radius: 5px;
		text-align: left;
		width: 95%;
		height: fit-content;

		max-width: 500px;
		display: flex;
		flex-direction: column;
		box-shadow: 0 0 10px 0 black;
	}

	.titre {
		color: #2b9cff;
	}

	input:not([type='radio']) {
		border: none;
		padding: 5px;
		border-radius: 5px;
		width: 100%;
		background-color: white;
	}

	.buttons {
		display: flex;
		justify-content: space-between;

		button {
			margin: 10px 0px;
			border: none;
			padding: 5px;
			border-radius: 5px;
			background-color: #5ab4ea;
			color: white;
			font-size: 1.2rem;
			box-shadow: 0 0 5px 0 #3e3e3e;
			font-family: Lobster;
			width: 48%;
		}
	}

	.suppression {
		color: white;
		background-color: red;
		border-radius: 5px;
		margin-top: 15px;
		border: none;
		box-shadow: 0 0 5px 0 #3e3e3e;
		font-family: Lobster;
		padding: 5px;
	}

	.buttons-radio {
		display: flex;
		justify-content: space-between;

		.button-radio {
			margin: 5px 0px 10px;
			border: none;
			padding: 5px;
			border-radius: 5px;
			color: white;
			font-size: 1.1rem;
			box-shadow: 0 0 5px 0 #3e3e3e;
			font-family: Lobster;
			width: 48%;
			text-align: center;

			label {
				display: inline-block;
				width: 80%;
			}

            input:checked {
                border: 10px solid blue;
            }
		}


		.green {
			background-color: #1ccc1c;
		}

		.red {
			background-color: #de4343;
		}
	}
}
